@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap');

html{ 
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --color-navy: #00162D;
    --color-beige: #E8D6C0;
    --color-smooth-white: #edf2ff;
    --font-principal: 'Roboto Mono', monospace;
    --font-secundaria: 'Roboto Mono', monospace;
}

body{
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: 600px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(30deg, var(--color-beige) 67%,var(--color-navy)  40%);
}

a{
    text-decoration: none;
}

.cabecalho{
    display: flex;
    position: fixed;
    z-index: 20;
    height: 6em;
    width: 100%;
    align-items: center;
    color: #edf2ff;
    font-family: var(--font-secundaria);
    font-size: 0.813rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur( 3.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    justify-content: space-between;
}

.cabecalho-titulo{
    color: #00162D;
    margin-left: 32vh;
}

.navbar{
    display: flex;
    gap: 50px;
    margin-right: 32vh;
}

.navbar h2{
    text-decoration: none;
    color: inherit;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.navbar h2:hover{
    transition: all 0.4s;
    color: #fff;
    cursor: pointer;
}

.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

.apresentacao-imagem-texto{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
}

.hello-iam{
    font-size: 1.563rem;
}


.apresentacao-conteudo-titulo{
    font-family: var(--font-secundaria);
    font-size: 2.875rem;
    font-weight: 400;
    color: black;
    width: 450px;
    height: 150px;
    line-height: 2.125rem;
}

.botao-github{
    display: flex;
    width: 400px;
    height: 50px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    border-radius: 10px;
    background-color: #00162D;
    color: #edf2ff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}

.botao-github:hover{
    transition: 0.5s;
    opacity: 85%;
}

.botao-github img{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}


.imagem-mario{
    width: 60%;
    height: 60%;
    padding-left: 5%;
}

.apresentacao-conteudo{
    color:#edf2ff;
}

.about{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #070f18;
}

.about-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 32vh;
    margin-right: 32vh;
    gap: 60px;
}

.about-title{
    font-family: var(--font-principal);
    font-weight: 400px;
    font-size: 2.5rem;
    color: var(--color-smooth-white);
}

.about-description{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: var(--color-beige);
    font-weight: 400px;
    font-size: 1.438rem;
}

.project{
    display: flex;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #070f18;

}

.project-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.project-title{
    display: flex;
    font-family: var(--font-principal);
    font-size: 2.5rem;
    font-weight: 400px;
    color:#edf2ff;
}

.card-project{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 29px;
}

.card-titulo{
    position: absolute;
    font-family: var(--font-principal);
    font-size: 1.2rem;
    z-index: 2;
    margin-top: 20%;
    width: 100%;
    color: #edf2ff;
    text-align: center;

}

.card-imagem{ 
    position: relative;
    filter: brightness(30%);
    width: 60vh;
    border-radius: 20px;
    transition: all 0.6s;
}

.card-imagem:hover{
    cursor: pointer;
    z-index: 3;
    transform: scale(1.10);
    filter: brightness(100%);
}

.footer{
    display: flex;
    background-color: #070f18;
    height: 80vh;
    width: 100%;
    justify-content: center;
}

.footer-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.footer-title{
    display: flex;
    font-family: var(--font-principal);
    font-size: 2.5rem;
    font-weight: 400px;
    color:#edf2ff;
}

.footer-contatos{
    display: flex;
    gap: 20vh;

}

.footer-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all 0.6s;
}

.footer-contato:hover{
    cursor: pointer;
    transform: scale(1.10);
}

.footer-contato img{
    height: 80px;
    width: 80px;
}

.footer-github-logo{
    filter: invert(100%);
}

.footer-contato h3{
    font-family: var(--font-principal);
    color: #edf2ff;
    font-size: 25px;
}

.footer-contato p{
    font-family: var(--font-principal);
    color: gray;
    font-size: 13px;
}

