*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #221555;
}

.quadrado {
    background-color: white;
    width: 335px;
    height: 500px;
    margin: 10% 40%;
    border-radius: 20px;
}

.apresentacao {
    margin: 13%;
    display: flex;
    align-items: center;
    padding-top: 5%;
    flex-direction: column;
}

.apresentacao__textos {
    margin: 10%;
    width: 280px;

}

.apresentacao__texto1 {
    text-align: center;
    height: 60px;
    font-size: 20px;
    color: darkblue;
    
}

.apresentacao__texto2 {
    text-align: center;
    height: 100px;
    font-size: 20px;
}

img {
    border-radius: 10px;
    width: 300px;
}
    
    
   

