*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: lightblue;
    height: 100vh;
}

.apresentacao{
    display: flex;
    background-color: white;
    margin: 5% 25%;
    border-radius: 30px;
    width: 800px;
    height: 550px;
}

.apresentacao__esquerda{
    display: flex;
    background-image: linear-gradient(to top,#312CEA,#6743ff);
    height: 550px;
    width: 400px;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.overall{
    display: flex;
    background-image: linear-gradient(to bottom,#4633ed,#4633ed,#4c22cc);
    height: 220px;
    width: 220px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
}

.numero__overall{
    color: white;
    font-size: 100px;
    margin-top: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.texto__overall{
    color:#7d70f3; 
    font-size: 22px; 
}

.resultado{
    display: flex;
    margin-top: 50px;
    font-size: 25px;
    color: #c8c4fd;
    font-family: 'HankenGrotesk', sans-serif;
    font-weight: 700;
}

.great{
    display: flex;
    color: white;
    font-family: 'HankenGrotesk', sans-serif;
    font-size: 40px;
    font-weight: 700;

}

.texto{
    display: flex;
    font-size: 19px;
    justify-content: center;
    text-align: center;
    width: 270px;
    font-family: 'HankenGrotesk', sans-serif;
    color: #c8c4fd;
    font-weight: 400;
}

.apresentacao__direita{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__texto__sumario{
    margin: 50px 0px 0px 50px;
    font-family: 'HankenGrotesk', sans-serif;
    font-size: 25px;
    color: #303b59;
    
}

.apresentacao__paragrafos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__paragrafos__reaction{
    font-family: 'HankenGrotesk', sans-serif;
    font-weight: 700;
    color: rgb(224, 120, 120);
    background-color: #fff6f5;
    margin: 0px 50px 0px 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

.apresentacao__paragrafos__reaction > p {
    display: flex;
    align-items: center;
    gap: 10px;
}

#oitenta{
    color:rgb(176, 173, 173);
    padding-right: 5px;
    
}

.apresentacao__paragrafos__memory{
    font-family: 'HankenGrotesk', sans-serif;
    font-weight: 700;
    color: #FFB831;
    background-color: #fffbf2;
    margin: 0px 50px 0px 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    justify-content: space-between;
}

.apresentacao__paragrafos__memory > p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.apresentacao__paragrafos__verbal{
    font-family: 'HankenGrotesk', sans-serif;
    font-weight: 700;
    color: #5DD3B8;
    background-color:  #f2fafa;
    margin: 0px 50px 0px 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    justify-content: space-between;
}

.apresentacao__paragrafos__verbal > p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.apresentacao__paragrafos__visual{
    display: flex;
    font-family: 'HankenGrotesk', sans-serif;
    color: rgb(19, 19, 165) ;
    background-color: #f3f3fd;
    margin: 0px 50px 0px 50px;
    padding: 15px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    justify-content: space-between;
    font-weight: 700;
}

.apresentacao__paragrafos__visual > p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.apresentacao__texto__continue{
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px 50px 20px 50px;
    background-color: #303b59;
    padding: 15px;
    border-radius: 25px;
    font-family: 'HankenGrotesk', sans-serif;
    font-weight: 700;
    text-decoration: none;

}

.apresentacao__notas{
    display: flex;
    
}
